@page "/expense-tracker"
@inject ExpenseHound.Services.ExpenseService ExpenseService
@using ExpenseHound.Models

<h3>Expense Tracker</h3>

<div class="row g-6">
    <div class="col-md">
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" @bind="newExpense.ExpenseType">
                <option selected>Choose an Expense Type...</option>
                <option value="OneTime">One Time</option>
                <option value="Recurring">Recurring</option>
                <option value="Fixed">Fixed</option>
                <option value="Variable">Variable</option>
            </select>
            <label for="floatingSelect">Expense Type</label>
        </div>
    </div>

    <div class="col-md">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGrid" @bind="newExpense.Description" placeholder="Enter a Description" />
            <label for="floatingInputGrid">Description</label>
        </div>
    </div>

    <div class="col-md">
        <div class="form-floating">
            <input type="number" class="form-control" id="floatingInputGrid" @bind="newExpense.Amount" placeholder="$50.00" />
            <label for="floatingInputGrid">Amount</label>
        </div>
    </div>

    <div class="col-md">
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" @bind="newExpense.Category">
                <option selected>Choose a Category...</option>
                <option value="Groceries">Groceries</option>
                <option value="Utilities">Utilities</option>
                <option value="Rent">Rent</option>
                <option value="Other">Other</option>
            </select>
            <label for="floatingSelect">Category</label>
        </div>
    </div>

    <div class="col-md">
        <div class="form-floating">
            <input type="date" class="form-control" id="floatingSelect" @bind="newExpense.Date" />
            <label for="floatingSelect">Date</label>
        </div>
    </div>

    <div class="col-md">
        <div class="form-floating">
            <button class="form-control btn btn-primary" @onclick="AddExpense">Add Expense</button>
        </div>
    </div>
</div>


<h4>Expenses</h4>
<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Expense Type</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in ExpenseService.GetExpenses())
        {
            <tr>
                <td scope="row">@expense.ExpenseType</td>
                <td>@expense.Description</td>
                <td>@expense.Amount</td>
                <td>@expense.Date.ToShortDateString()</td>
                <td>@expense.Category</td>
            </tr>
        }
    </tbody>
</table>

<h4>Total Expenses:</h4><span> $@ExpenseService.GetTotal()</span>

@code {
    private Expense newExpense = new Expense
        {
            Date = DateTime.Now
        };


    private void AddExpense()
    {
        ExpenseService.AddExpense(newExpense);
        newExpense = new Expense { Date = DateTime.Now };
    }
}
